.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}
.footer__column-link:hover {
  color:red;
  opacity: .5;
  transition: opacity 0.8s ease-in 0.5s;
}
